    <img class="foto-de-perfil" src="../assets/img/foto-perfil.png" alt="Foto de perfil">
    <div class="contenedor-contenido-enlaces">
        <p class="descripcion">{{descripcion}}</p>
        <ul class="enlaces-presentacion">
            <a href="https://drive.google.com/uc?id=15-Xt9zi9o8GBQJdBhx60VZ1oWIWxdoxW&export=download"><li class="cv">Descargar CV</li></a>
            <!-- <a href="https://github.com/limberthEstrada"><li class="git"><img src="../assets/img/github-logo.png" alt=""></li></a> -->
            <!-- <a href="https://www.linkedin.com/in/limberth-estrada/"><li class="linkedin"><img src="../assets/img/linkedin-logo.png" alt=""></li></a> -->
            <!-- <a href="mailto:limberth.estrada@gmail.com"><li class="gmail"><img src="../assets/img/mail-logo.png" alt=""></li></a> -->
            <a [href]="contacto[0].enlace"><li class="git"><img src="../assets/img/github-logo.png" alt=""></li></a>
            <a [href]="contacto[1].enlace"><li class="linkedin"><img src="../assets/img/linkedin-logo.png" alt=""></li></a>
            <a [href]="contacto[2].enlace"><li class="gmail"><img src="../assets/img/mail-logo.png" alt=""></li></a>
            


        </ul>
    </div>
